@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url("https://use.typekit.net/was0xem.css");

[v-cloak]{ display: none }

body {
    margin: 0;

    .scene {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;
        @import '_background.scss';
        @import '_board.scss';
        @import '_error.scss';
        @import '_countdown.scss';
        @import '_title.scss';
        @import '_info.scss';

        img {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    75% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}
